body {
  background-image: url(58-588033_elegant-under-construction-tape-png-under-construction-html.png);
  /* width: 100%;
  height: 100%; */
  /* background-repeat: no-repeat; */
  background-size: cover;
    
  
}
